/*
  You can use import statements to include partials:

@import 'imports/reset.css';
 */
/*
  Or add your statements here:
 */

@media only screen and (max-width: 768px) {
	
	/* Force table to not be like tables anymore */
	#gearbox table, 
	#gearbox thead, 
	#gearbox tbody, 
	#gearbox th, 
	#gearbox td, 
	#gearbox tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#gearbox thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#gearbox tr { border: 5px solid rgb(252, 145, 7); }
 
	#gearbox td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
	}
 
	#gearbox td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*
	Label the data
	*/
	#gearbox td:before { content: attr(data-title); }
}