{{ define "main" }}


<div class="container bg-dark">

        <div class="row">
                <div class="col-sm-4">
                        <img src="/images/gbox.png" class="img-fluid" alt="Gear Box">

                    col-sm-4</div>
                <div class="col-sm-8"> 
                    <h1 class="text-white text-center h2">www.UsedSpeedReducers.com</h2>
                    <h2 class="h5 text-info text-center text-uppercase" >Speed Reducers / Gearboxes / Gear Reducers</h2>
                    <h2 class="h5 text-info text-center text-uppercase" >Less Motors</h2>

                </div>
        </div>

        https://elvery.net/demo/responsive-tables/
        https://medium.com/appnroll-publication/5-practical-solutions-to-make-responsive-data-tables-ff031c48b122
        https://codepen.io/alico/pen/bpLgOL
        https://speckyboy.com/responsive-html-table-techniques/
    
{{ end }}
